<div class="container-fluid">
  	<h1 class="header">Browse All Art</h1>
  		<div class="row">
  			<!-- Thumbnails sorted with most recent at the top -->
    		<% @pictures.sort_by{|t| - t.created_at.to_i}.each do |picture| %>
				<div class="col-xs-4 col-s-3 thumbnails">
					<%= link_to image_tag(picture.image_url, class: "img-responsive"), picture_path(picture.id)%>
    			</div>
    		<% end %>
  		</div>
</div>