$yellow: #f6f049;
$blue: #6ad6e3;
$darkGrey: #383838;
$lightGrey: #f2f1f1;

/** {
	border: 1px solid black;
}*/

body {
	background-color: $lightGrey;
	font-family: 'PT Sans Narrow', sans-serif;
	color: $darkGrey;
}

h1 {
	font-family: 'Give You Glory', cursive;
	padding-left: 3px;
	a:hover {
		color: $yellow;
	}
}

ul {
	list-style: none;
}

a {
	color: $darkGrey;
	&:hover {
		color: $blue;
		text-decoration: none;
	}
}

nav {
	font-size: 1.1em;
	.btn {
	background-color: $yellow;
	}
	li {
		padding-top: 5px;
	}
	.nav-icon {
		height: 30px;
		margin-right: 10px;
		border-radius: 50%
	}
	.navbar-brand img {
		height: 30px;
	}
}

.header {
	width: 100%;
	background-color: $blue;
}

.profile h1 {
	width: 100%;
	background-color: $blue;
	text-align: right;
	padding-right: 3px;
}

.thumbnails {
/*	img {
	border: 3px solid $darkGrey;
	}
	li {
	display: inline-block;
	}*/
	.thumb {
		height: 150px;
		width: 150px;
		border: 5px solid $darkGrey;
		display: inline-block;
	}
}

.avatar img {
	margin: auto;
	border-radius: 50%;
}

.members {
	text-align: center;
	margin: 2%;
	li {
		display: inline-block;
	}
	img {
		border-radius: 50%;
		margin: auto;
		max-width: 200px;
	}
}
	

footer {
	background-color: $yellow;
	width: 100%;
	position: absolute;
	li {
	display: inline-block;
	float: right;
	padding: 1%;
	}
	p {
	float: left;
	padding: 1%;
	}
}