$yellow: #f6f049;
$blue: #6ad6e3;
$darkGrey: #383838;
$lightGrey: #f2f1f1;


body {
	background-color: $lightGrey;
	font-family: 'PT Sans Narrow', sans-serif;
	color: $darkGrey;
}

h1 {
	font-family: 'Give You Glory', cursive;
	padding-left: 3px;
	a:hover {
		color: $yellow;
	}
}

ul {
	list-style: none;
}

a {
	color: $darkGrey;
	&:hover {
		color: $blue;
		text-decoration: none;
	}
}

nav {
	font-size: 1.1em;
	.btn {
	background-color: $yellow;
	}
	li {
		padding-top: 5px;
	}
	.nav-icon {
		height: 30px;
		margin-right: 10px;
		border-radius: 50%
	}
	.navbar-brand img {
		height: 30px;
	}
}

.header {
	width: 100%;
	background-color: $blue;
}

.profile h1 {
	width: 100%;
	background-color: $blue;
	text-align: right;
	padding-right: 3px;
}

.thumbnails {
	img{
		max-height: 200px;
		margin: 3% auto;
		/*display: inline-block;*/
		&:hover {
			opacity: .25;
		}
	}
}

.avatar img {
	max-width: 300px;
	margin: auto;
	border-radius: 50%;
}

.members {
	text-align: center;
	li {
		display: inline-block;
	}
	img {
		border-radius: 50%;
		margin: auto;
		padding: 10px 0;
		width: 200px;
	}
}

.faq {
	font-size: 1.1em;
	.well {
		width: 95%;
		margin: 1% auto;
		border-radius: 10px;
	}
}

.staff {
	text-align: center;
	font-size: 1.1em;
	img {
		margin: 10px auto;
	}
}
	

footer {
	background-color: $yellow;
	width: 100%;
	position: absolute;
	margin-top: 20px;
	li {
	display: inline-block;
	float: right;
	padding: 1%;
	}
	p {
	float: left;
	padding: 1%;
	}
}


