<div class="container-fluid">
        <% @categories.each do |category| %>
                <div class="header"><h1><%= category.name %></h1></div>
                <%= link_to 'Show', category %>
                <%= link_to 'Edit', edit_category_path(category) %>
                <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
                <ul class="thumbnails">
                    <li><img src="http://placekitten.com/g/200/139"></li>
                    <li><img src="http://placekitten.com/g/140/96"></li>
                    <li><img src="http://placekitten.com/g/96/140"></li>
                    <li><img src="http://placekitten.com/g/140/96"></li>
                    <li><img src="http://placekitten.com/g/200/139"></li>
                    <li><img src="http://placekitten.com/g/139/200"></li>
                </ul>
        <% end %>

</div>
    