<div class="container-fluid">
	<h1 class="header">FAQ</h1>
	<p><strong>Q: What is Gllry?</strong></p>
	<p>Gllry is an application designed to display your work under your account name, like an online portfolio.</p>
	<p><strong>Q: Do you have premium membership?</strong></p>
	<p>Everybody is premium!</p>
	<p><strong>Q: Are you in the Illuminati?</strong></p>
	<p>I dont know. Am I? (yes)</p>
	<p><strong>Q: Do you have a motto?</strong></p>
	<p>If fail to plan, you plan to fail.</p>
</div>