<div class="container-fluid">
	<h1 class="header">FAQ</h1>
	
	<div class="faq">
		<div class="well">
			<p><strong>Q: What is gllry?</strong></p>
			<p>Gllry is a web application designed to display your artwork, like an online portfolio!</p>
		</div>

		<div class="well">
			<p><strong>Q: Do you have premium memberships?</strong></p>
			<p>A: Everybody is premium!</p>
		</div>

		<div class="well">
			<p><strong>Q: Are there any other features coming to gllry?</strong></p>
			<p>A: Yes! Keep an eye out soon for comments, favorites, and username mentions!</p>
		</div>

		<div class="well">
			<p><strong>Q: Do you have a life motto?</strong></p>
			<p>A: If you fail to plan, you plan to fail.</p>
		</div>

		<div class="well">
			<p><strong>Q: What do I do if I forget my password?</strong></p>
			<p>A: Right now, please don't! But soon we will implement an email system which will allow for password recovery.</p>
		</div>

		<div class="well">
			<p><strong>Q: Can I delete my account if I don't like it?</strong></p>
			<p>A: We hope you don't want to leave, but if you do...here is the link: <%= link_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>
		</div>
	</div> <!-- end faq -->
</div> <!-- end container -->
