<div class="container-fluid">
	<h1 class="header">Members</h1>
	<div class="row">
		<div class="col-xs-3 col-m-2">
			<% @users.each do |user| %>
			<%= user.username %>
			<% end %>
		</div>
	</div>
</div>